In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np

In [20]:
df=pd.read_csv('student-mat.csv',sep=";",usecols=['age','studytime','health','absences','G1','G2','G3'])

In [21]:
df

     age  studytime  health  absences  G1  G2  G3
0     18          2       3         6   5   6   6
1     17          2       3         4   5   5   6
2     15          2       3        10   7   8  10
3     15          3       5         2  15  14  15
4     16          2       5         4   6  10  10
..   ...        ...     ...       ...  ..  ..  ..
390   20          2       4        11   9   9   9
391   17          1       2         3  14  16  16
392   21          1       3         3  10   8   7
393   18          1       5         0  11  12  10
394   19          1       5         5   8   9   9

[395 rows x 7 columns]

In [25]:
sl_df=df[['age','studytime','health','absences','G1','G2','G3']]

In [26]:
df

     age  studytime  health  absences  G1  G2  G3
0     18          2       3         6   5   6   6
1     17          2       3         4   5   5   6
2     15          2       3        10   7   8  10
3     15          3       5         2  15  14  15
4     16          2       5         4   6  10  10
..   ...        ...     ...       ...  ..  ..  ..
390   20          2       4        11   9   9   9
391   17          1       2         3  14  16  16
392   21          1       3         3  10   8   7
393   18          1       5         0  11  12  10
394   19          1       5         5   8   9   9

[395 rows x 7 columns]

In [43]:
X=np.array(df.drop(['G3'],axis=1))
X

array([[18,  2,  3,  6,  5,  6],
       [17,  2,  3,  4,  5,  5],
       [15,  2,  3, 10,  7,  8],
       ...,
       [21,  1,  3,  3, 10,  8],
       [18,  1,  5,  0, 11, 12],
       [19,  1,  5,  5,  8,  9]], shape=(395, 6))

In [31]:
Y=np.array(df['G3'])

In [32]:
Y

0       6
1       6
2      10
3      15
4      10
       ..
390     9
391    16
392     7
393    10
394     9
Name: G3, Length: 395, dtype: int64

In [49]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

In [50]:
Model=LinearRegression()

In [56]:
Model.fit(x_train,y_train)
acc=Model.score(x_test,y_test)
print(acc)

0.8635018384749897

In [74]:
Model.intercept_
x_test[0]
y_test[0]
Model.coef_
Model.predict([x_test[0]])

array([12.3059797])

In [72]:
t=0
for i in zip(Model.coef_,x_test[0]):
 t+=i[0]*i[1]
 y=t+Model.intercept_
 print(y)

-2.4634790719201027
-2.997835757034453
-2.7709505328253075
-2.7709505328253075
-0.6002330008141503
12.30597970090473

In [79]:
prediction=Model.predict(x_test)
for i in range (len(y_test)):
    print(y_test.iloc[i],prediction[i],sep=">>")

14>>12.305979700904729
9>>8.00404853809475
10>>9.572983972912947
13>>13.035565213186805
0>>4.714400957238501
13>>11.909652954369497
8>>7.8394619327609485
9>>11.752010416935091
0>>8.685955833431018
15>>15.550866846369304
13>>12.781262228799276
20>>19.54286834228465
10>>11.278099939206959
17>>17.18397909803054
12>>13.17487168095898
14>>12.726220890403425
10>>8.788657778031695
9>>8.508036343934599
10>>9.365927636588028
0>>-1.2499014696951445
12>>12.097704129598325
0>>6.073673918548183
11>>11.721908444602985
12>>12.11916621060625
15>>14.4164730931828
0>>-0.37574868838285913
0>>3.5417201017899336
16>>15.182101404931743
15>>14.853382625288866
14>>11.795603003752328
8>>5.802760675176767
0>>5.957339885697574
9>>7.494702079213818
0>>-0.6082343795411758
0>>-1.5520025955411416
16>>16.11375906671882
13>>12.338683946958598
0>>-0.1992353550884245
11>>9.530645155008354
15>>14.988777827369544
10>>8.062281357785448
13>>11.872106423156103
17>>16.34565941376588
0>>-0.746030493399708
19>>20.230115036662134
11>>10.242791702610196
13>>12.801091116683498
12>>11.858719339750158
16>>15.349079385178888
12>>10.544892828456193
13>>12.708380407864192
10>>8.53785956256844
8>>6.003201083267423
14>>13.801292743739184
8>>7.224018967732365
13>>12.905943315733687
11>>10.389841576169681
6>>3.6221907950191774
12>>9.170170759520621
10>>7.3327068340772374
10>>8.848837078475523
8>>6.251079873917654
8>>7.395922388878502
11>>12.271002361191288
18>>19.141409643367084
12>>13.06275557926218
16>>16.75477526776305
8>>8.192834274706597
16>>15.245144122054617
13>>12.128516094142393
10>>9.113613057545486
10>>9.33886508863093
15>>14.539485684568762
13>>14.032318079452189
6>>4.517713060703064
15>>14.786835139241715
6>>3.722490376132644
18>>17.899548806494195
9>>10.623557490883345

In [89]:
min_y_test=sum(y_test)/len(y_test)
rest=0
for yi,predi in zip (y_test,prediction):
 rest+=(yi-predi)**2
 print(rest)
tot=0
for yi in y_test:
    tot+=(yi-min_y_test)**2
    print(tot)
    r2=1-(rest/tot)
    print (r2)

2.8697047737468324
3.861624088218037
4.043966775607247
4.04523165999627
26.270808045607566
27.45966472552273
27.485437196555583
35.05899853147484
110.50482727178918
110.80828155421804
110.8561277667679
111.06509711925348
112.69863657385432
112.73248488236645
114.11280834908582
115.73532156913046
117.20267154785357
117.4446997867428
117.84674754878564
119.40900123273173
119.4185473296723
156.30806219852474
156.82921400091385
156.8434145866641
157.18391823764375
157.3251053144652
169.86888659388808
170.5378447057027
170.55934136026988
175.41870747733563
180.2465681278853
215.73646664160847
218.00238847193168
218.37233753238752
220.78104958895395
220.7939907142147
221.23132963622496
221.27102436294217
223.4300280234426
223.43015396060113
227.18490749698694
228.45705141767266
228.88521302046587
229.44177451754808
230.95495752097037
231.52832192660634
231.56788667046857
231.5878468954292
232.0115445422283
234.12888142290652
234.21392340942398
236.35177806819652
240.3389839820609
240.37846855575162
240.98061511819077
240.98946177804595
241.36175508021705
247.01573169550858
255.0236652257807
262.13811805875895
263.4632941306517
266.5220157380676
266.8869254983258
268.5023725004796
269.805188474451
270.9346378957039
271.50432360053065
271.5415086580323
272.111316054501
272.8708002526698
273.6564820644237
274.09358143545467
274.3056548701718
275.37133548733567
277.5685100577459
277.613949315608
282.80099940241644
282.8110898446932
285.4470287708966
12.832719115526356
-21.243690226612472
14.842653420926133
-18.231536348376558
15.017144688351227
-18.00807608202093
21.685306841852267
-12.163153782080169
130.2142284890242
-1.1921339325445302
136.88239064252525
-1.0853451450621932
142.7277679858997
-0.9999403956145125
144.73770229129948
-0.9721677507109043
253.2666239384714
-0.12706137244615023
274.26390001602306
-0.0407750664751001
280.9320621695241
-0.01607138240649819
372.75212305720237
0.23421756412882444
372.92661432462745
0.23457587148119463
416.25300432622976
0.3142463218182965
418.7566095177055
0.3183462128522473
431.58932863323184
0.338614257041856
431.7638199006569
0.33888154677579474
433.7737542060567
0.3419449056032561
433.9482454734818
0.34220951058473614
542.4771671206537
0.4738082152176376
544.9807723121294
0.47622550505798167
653.5096939593013
0.5632091896885107
653.8487421887518
0.5634356841991227
656.3523473802275
0.5651009249677658
677.3496234577791
0.5785824352957816
785.8785451049511
0.6367797154549164
894.407466752123
0.6808534819063561
925.5692997917
0.6915984261414714
946.5665758692517
0.6984395645823807
959.3992949847781
0.702473172261998
965.2446723281525
0.7042749502233423
1073.7735939753245
0.7341646038117638
1075.7835282807243
0.7346612759287299
1184.3124499278963
0.7589765869739229
1292.8413715750683
0.7792095495651283
1324.0032046146453
0.7844060892179058
1330.6713667681463
0.7854864575134182
1439.2002884153183
0.8016627490498921
1439.5393366447686
0.8017094625311127
1460.5366127223203
0.8045601689923768
1460.7111039897454
0.8045835155279955
1467.3792661432465
0.8054715400735183
1510.7056561448487
0.8110505328355456
1619.2345777920207
0.823714838673881
1692.8900817176736
0.8313847828316941
1693.229129947124
0.8314185459472868
1699.897292100625
0.8320798379423504
1702.4008972921008
0.8323267867016877
1733.5627303316778
0.8353408135878171
1736.0663355231536
0.8355782708701169
1742.7344976766547
0.8362073918021113
1742.9089889440797
0.8362237898928784
1748.754366287454
0.8367712274097757
1761.5870854029804
0.8379603079880675
1767.4324627463548
0.8384962170903266
1774.1006248998558
0.8391032477162848
1774.4396731293061
0.8391339908065188
1793.95593654863
0.8408840356914983
1796.4595417401058
0.8411057849405259
1796.634033007531
0.8411212169386195
1796.808524274956
0.8411366459394556
1802.6539016183303
0.8416517843416105
1808.4992789617047
0.8421635927138564
1808.838327191155
0.8421931775328139
1866.3292741547828
0.847054304551822
1868.8328793462586
0.8472592001534404
1899.9947123858356
0.8497643036003721
1905.84008972921
0.8502250895501657
1937.001922768787
0.8526346177484051
1943.670084922288
0.8531401851655759
1943.844576189713
0.8531533681924177
1944.0190674571381
0.8531665488526953
1965.01634353469
0.8547355447143855
1971.684505688191
0.8552268235879528
1991.2007691075148
0.8566457821835625
2012.1980451850666
0.8581416826967232
2031.7143086043905
0.8595043468650995
2089.205255568018
0.8633705194785715
2091.215189873418
0.8635018384749898