In [4]:
import pandas as pd

In [20]:
import pandas as pd
data=[
    ["tester1","testcase1","passed"],
    ["tester2","testcase2","failed"],
    ["tester3","testcase3","failed"]
]
df=pd.DataFrame(data,columns=['tester','tescase','result'],index=[1,2,3])

_IncompleteInputError: incomplete input (2244719351.py, line 1)

In [21]:
df

    tester    tescase  result
1  tester1  testcase1  passed
2  tester2  testcase2  failed
3  tester3  testcase3  failed

In [23]:
df.columns

Index(['tester', 'tescase', 'result'], dtype='object')

In [24]:
df.values

array([['tester1', 'testcase1', 'passed'],
       ['tester2', 'testcase2', 'failed'],
       ['tester3', 'testcase3', 'failed']], dtype=object)

In [27]:
table=pd.read_csv("test1.txt")
table

   1-batary life 2 day   100
0   2-sleep data    day    8
1  3-calary burn  2days  100

In [28]:
table

   1-batary life 2 day   100
0   2-sleep data    day    8
1  3-calary burn  2days  100

In [29]:
table

   1-batary life 2 day   100
0   2-sleep data    day    8
1  3-calary burn  2days  100

In [35]:
table.index=[1,2]
table

   1-batary life 2 day   100
1   2-sleep data    day    8
2  3-calary burn  2days  100

In [36]:
import pandas as panda

In [40]:
df=pd.read_csv(weather.txt)
df

NameError: name 'weather' is not defined

In [ ]:
df